* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 1px;
}

.homepage {
  display: flex;
  width: 100%;
  .homepage__navbar {
    background-color: #31363b;
    width: 20%;
    &--brand {
      width: 100%;
      height: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #31363b;
    }
    &--content {
      width: 100%;
      height: 95%;
      display: flex;
      &--logo {
        width: 20%;
        background-color: #2a2f33;
        &--items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          &:first-child {
            margin-top: 10px;
          }
          div {
            margin-bottom: 10px;
            a {
              opacity: .3;
              &:hover {
                opacity: 1;
                transition: all 0.3s ease-in;
              }
            }
          }
        }
      }
      &--menu {
        width: 80%;
        background-color: #393d42;
        &--items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:first-child {
            margin-top: 10px;
          }
          &--element {
            width: 100%;
            .active {
              background-color: #f55661;
              .homepage__navbar--content--menu--item--icon {
                color: #fff;
              }
            }
            .homepage__navbar--content--menu--item {
              height: 57px;
              color: #fff;
              text-transform: uppercase;
              padding: 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              &--icon {
                color: #f55661;
              }
              &--notifications {
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                border: 0.5px solid #73d9c7;
                border-radius: 8px;
              }
              &:hover {
                .homepage__navbar--content--menu--item--icon {
                  color: #fff;
                }
                transition: all 0.3s ease-in;
                cursor: pointer;
                background-color: #f55661;
              }
            }
            .homepage__navbar--content--menu--dropdown {
              width: 100%;
              margin: 0;
              padding: 20px 0px;
              background-color: #2a2f33;
              color: #fff;
              display: none;
              ul {
                color: #fff;
                margin: 0;
                li {
                  a {
                    text-decoration: none;
                    color: #fff;
                    width: 100%;
                    &:hover {
                      color: #f55661;
                      transition: all 0.3s ease-in;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .homepage__content {
    width: 80%;
    background-color: #f5f7f8;
    .homepage__content--description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &--items {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .homepage__content--description--item {
          display: flex;
          align-items: center;
          &:nth-child(1){
            i {
              color: #ACACAC;
            }
          }
          &:nth-child(2){
            i {
              color: #3ac183;
            }
          }
          &:nth-child(3){
            i {
              color: #F7BF38;
            }
          }
          &:nth-child(4){
            i {
              color: #FB6450;
            }
          }
          &:nth-child(5){
            i {
              color: #67B1F2;
            }
          }
        }
      }
      &--profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
      }
    }
    &--postdate {
      display: flex;
      align-items: center;
    }
    &--items, &--items2 {
      .homepage__content--cards--item {
        display: flex;
        height: 515px;
        margin: 0;
        padding: 10px;
        &--leftPart {
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #3ac183;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          i {
            color: #fff;
          }
        }
        &--rightPart {
          width: 90%;
          background-color: #fff;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          &--top {
            display: flex;
            justify-content: space-between;
            &--actions {
              display: flex;
              flex-direction: row;
              &--item {
                margin-left: 10px;
                cursor: pointer;
                i {
                  color: grey;
                }
              }
            }
          }
          &--bottom {
            display: flex;
            flex-direction: row;
            &--item {
              margin-right: 15px;
              cursor: pointer;
              i {
                color: grey;
              }
            }
          }
        }
      }
    }
  }
}
