* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 1px; }

.homepage {
  display: flex;
  width: 100%; }
  .homepage .homepage__navbar {
    background-color: #31363b;
    width: 20%; }
    .homepage .homepage__navbar--brand {
      width: 100%;
      height: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #31363b; }
    .homepage .homepage__navbar--content {
      width: 100%;
      height: 95%;
      display: flex; }
      .homepage .homepage__navbar--content--logo {
        width: 20%;
        background-color: #2a2f33; }
        .homepage .homepage__navbar--content--logo--items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px; }
          .homepage .homepage__navbar--content--logo--items:first-child {
            margin-top: 10px; }
          .homepage .homepage__navbar--content--logo--items div {
            margin-bottom: 10px; }
            .homepage .homepage__navbar--content--logo--items div a {
              opacity: .3; }
              .homepage .homepage__navbar--content--logo--items div a:hover {
                opacity: 1;
                transition: all 0.3s ease-in; }
      .homepage .homepage__navbar--content--menu {
        width: 80%;
        background-color: #393d42; }
        .homepage .homepage__navbar--content--menu--items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .homepage .homepage__navbar--content--menu--items:first-child {
            margin-top: 10px; }
          .homepage .homepage__navbar--content--menu--items--element {
            width: 100%; }
            .homepage .homepage__navbar--content--menu--items--element .active {
              background-color: #f55661; }
              .homepage .homepage__navbar--content--menu--items--element .active .homepage__navbar--content--menu--item--icon {
                color: #fff; }
            .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--item {
              height: 57px;
              color: #fff;
              text-transform: uppercase;
              padding: 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between; }
              .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--item--icon {
                color: #f55661; }
              .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--item--notifications {
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                border: 0.5px solid #73d9c7;
                border-radius: 8px; }
              .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--item:hover {
                transition: all 0.3s ease-in;
                cursor: pointer;
                background-color: #f55661; }
                .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--item:hover .homepage__navbar--content--menu--item--icon {
                  color: #fff; }
            .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--dropdown {
              width: 100%;
              margin: 0;
              padding: 20px 0px;
              background-color: #2a2f33;
              color: #fff;
              display: none; }
              .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--dropdown ul {
                color: #fff;
                margin: 0; }
                .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--dropdown ul li a {
                  text-decoration: none;
                  color: #fff;
                  width: 100%; }
                  .homepage .homepage__navbar--content--menu--items--element .homepage__navbar--content--menu--dropdown ul li a:hover {
                    color: #f55661;
                    transition: all 0.3s ease-in; }
  .homepage .homepage__content {
    width: 80%;
    background-color: #f5f7f8; }
    .homepage .homepage__content .homepage__content--description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .homepage .homepage__content .homepage__content--description--items {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .homepage .homepage__content .homepage__content--description--items .homepage__content--description--item {
          display: flex;
          align-items: center; }
          .homepage .homepage__content .homepage__content--description--items .homepage__content--description--item:nth-child(1) i {
            color: #ACACAC; }
          .homepage .homepage__content .homepage__content--description--items .homepage__content--description--item:nth-child(2) i {
            color: #3ac183; }
          .homepage .homepage__content .homepage__content--description--items .homepage__content--description--item:nth-child(3) i {
            color: #F7BF38; }
          .homepage .homepage__content .homepage__content--description--items .homepage__content--description--item:nth-child(4) i {
            color: #FB6450; }
          .homepage .homepage__content .homepage__content--description--items .homepage__content--description--item:nth-child(5) i {
            color: #67B1F2; }
      .homepage .homepage__content .homepage__content--description--profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%; }
    .homepage .homepage__content--postdate {
      display: flex;
      align-items: center; }
    .homepage .homepage__content--items .homepage__content--cards--item, .homepage .homepage__content--items2 .homepage__content--cards--item {
      display: flex;
      height: 515px;
      margin: 0;
      padding: 10px; }
      .homepage .homepage__content--items .homepage__content--cards--item--leftPart, .homepage .homepage__content--items2 .homepage__content--cards--item--leftPart {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3ac183;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
        .homepage .homepage__content--items .homepage__content--cards--item--leftPart i, .homepage .homepage__content--items2 .homepage__content--cards--item--leftPart i {
          color: #fff; }
      .homepage .homepage__content--items .homepage__content--cards--item--rightPart, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart {
        width: 90%;
        background-color: #fff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        .homepage .homepage__content--items .homepage__content--cards--item--rightPart--top, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--top {
          display: flex;
          justify-content: space-between; }
          .homepage .homepage__content--items .homepage__content--cards--item--rightPart--top--actions, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--top--actions {
            display: flex;
            flex-direction: row; }
            .homepage .homepage__content--items .homepage__content--cards--item--rightPart--top--actions--item, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--top--actions--item {
              margin-left: 10px;
              cursor: pointer; }
              .homepage .homepage__content--items .homepage__content--cards--item--rightPart--top--actions--item i, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--top--actions--item i {
                color: grey; }
        .homepage .homepage__content--items .homepage__content--cards--item--rightPart--bottom, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--bottom {
          display: flex;
          flex-direction: row; }
          .homepage .homepage__content--items .homepage__content--cards--item--rightPart--bottom--item, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--bottom--item {
            margin-right: 15px;
            cursor: pointer; }
            .homepage .homepage__content--items .homepage__content--cards--item--rightPart--bottom--item i, .homepage .homepage__content--items2 .homepage__content--cards--item--rightPart--bottom--item i {
              color: grey; }

/*# sourceMappingURL=style.css.map */
