* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 1px;
}

html,body {
  height: 100%;
}

.homepage {
  height: 100%;
  display: flex;
  .homepage__navbar {
    background-color: #31363b;
    &--brand {
      width: 100%;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #31363b;
    }
    &--content {
      display: flex;
      height: 100%;
      &--logo {
        background-color: #2a2f33;
        &--items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          &:first-child {
            margin-top: 10px;
          }
          div {
            margin-bottom: 10px;
          }
        }
      }
      &--menu {
        background-color: #393d42;
        &--items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &:first-child {
            margin-top: 10px;
          }
          .homepage__navbar--content--menu--item {
            width: 100%;
            height: 57px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 10px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &--notifications {
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              border: 0.5px solid #73d9c7;
              border-radius: 8px;
            }
            &:hover {
              .homepage__navbar--content--menu--item--icon {
                color: #fff;
              }
              cursor: pointer;
              background-color: #f55661;
            }
          }
        }
      }
    }
  }
}
